<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>피움</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../resource/css/admin/common.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/common/reset.css" />
    <link rel="stylesheet" type="text/css" href="../resource/css/common/fontawesome.min.css" />

    <!-- js -->
    <script src="../resource/js/jquery-1.12.4.min.js"></script>
    <script src="../resource/js/fontawesome.min.js"></script>
    <script src="../resource/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script src="../resource/js/admin.js"></script>

</head>
<body>

<script>

    var cmd;

    $( document ).ready(function() {

        var eid = getParameterByName('eid');
        cmd = getParameterByName('cmd');
        getEventMarketList();


        if(cmd == 1){
            formChg = '/admin/saveEvent';
            msg = '등록되었습니다.';
            $('#event').remove();
            $('input[type=submit]').val('저장');
        }
        else if(cmd == 2){
            formChg = '/admin/modifyEvent';
            msg = '수정되었습니다.';
            $('#event').val(eid);
            getEvent(eid);
        }
    });
</script>

<body>
    <div id="wrap">
        <div class="gnb-container">
            <p class="site-name">피움 <span class="logout" onclick="fnLogout()"><i class="fas fa-sign-out-alt"></i></span></p>
            <div class="gnb-wrap">
                <div class="menu-item">
                    <a class="member-menu" href="/admin/memberManage"><i class="far fa-user"></i>회원 관리</a>
                </div>
                <div class="menu-item" >
                    <a class="market-menu" href="/admin/marketManage"><i class="fas fa-store"></i>시장 관리</a>
                </div>
                <div class="menu-item " >
                    <a class="market-menu" href="/admin/storeManage"><i class="fas fa-store"></i>가게 관리</a>
                </div>
                <div class="menu-item active">
                    <a class="market-menu" href="/admin/eventManage"><i class="fas fa-star"></i>이벤트 관리</a>
                </div>
                <div class="menu-item">
                    <a class="market-menu" href="/admin/noticeManage"><i class="fas fa-bullhorn"></i></i>공지사항 관리</a>
                </div>
                <div class="menu-item">
                    <a class="market-menu" href="/admin/categoryManage"><i class="fas fa-book-open"></i>카테고리 관리</a>
                </div>
                <div class="menu-item">
                    <a class="site-menu" href="/admin/siteManage"><i class="fas fa-list-ul"></i>사이트 관리</a>
                </div>
            </div>
        </div>
         <!-- Content Section -->
         <section id="container">
            <p class="page-name">이벤트 관리</p>
            <div class="detail-container">
                <form name="event-form" id="event-form" type="post" enctype="multipart/form-data" onsubmit="event.preventDefault(); return saveImage();">
                    <input type="hidden" name="event" id="event" />
                    <div class="input-line">
                        <div class="input-wrap">
                            <p class="input-label">시장</p>
                            <select class="market-list" name="market" id="marketList">

                            </select>
                        </div>
                    </div>
                    <div class="input-line">
                        <div class="input-wrap">
                            <p class="input-label">이벤트 시작일</p>
                            <input type="date" class="date" name="bgndt" value="" required/>
                        </div>
                        <div class="input-wrap">
                            <p class="input-label">이벤트 마감일</p>
                            <input type="date" class="date" name="nddt" value="" />
                        </div>
                    </div>
                    <div class="input-line">
                        <div class="input-wrap full">
                            <p class="input-label">제목</p>
                            <input type="text" name="title" value="" placeholder="제목을 입력하세요." />
                        </div>
                    </div>
                    <div class="input-line">
                        <div class="input-wrap full">
                            <p class="input-label">내용</p>
                            <textarea id="smartEditor" name="contents" class="event-detail contents" placeholder=""></textarea>
                        </div>
                    </div>
                    <div class="input-line">
                        <div class="input-wrap long">
                            <p class="input-label">이벤트 썸네일 등록</p>
                            <div class="img-upload-wrap" id="imgFile">
                                <div class="img-upload-item">
                                    <input id="img1" class="img-file" type="file" accept="image/*" name="pimg" />
                                    <div class="controll-wrap">
                                        <div class="img-preview">
                                            <p class="no-img">등록된 이미지 없음</p>
                                            <img class="preview" src="" />
                                        </div>
                                        <div class="delete-wrap">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-area">
                        <input type="submit" value="확인" />
                        <a href="/admin/eventManager">취소</a>
                    </div>
                </form>
            </div>

        </section>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        // 이미지 Preview
        $('.img-upload-wrap').on('change', '.img-file',  function(e){
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);
            var preview = $(this).siblings('.controll-wrap').find('.preview');
            var text =  $(this).siblings('.controll-wrap').find('.no-img');
            filesArr.forEach(function(f) {
                if(!f.type.match("image.*")) {
                    alert("확장자는 이미지 확장자만 가능합니다.");
                    return;
                }
                sel_file = f;

                var reader = new FileReader();
                reader.onload = function(e) {
                    preview.show();
                    text.hide();
                    preview.attr("src", e.target.result);

                }
                reader.readAsDataURL(f);
            });

        });
    });
    $(function (e) {
        // 이미지 파일 추가 버튼
        $('.img-add-btn').click(function(){
            var fileadd = '<div class="img-upload-item">'
                         +'   <input class="img-file" type="file" name="eimg[]" />'
                         +'   <div class="controll-wrap">'
                         +'     <div class="img-preview">'
                         +'        <p class="no-img">등록된 이미지 없음</p>'
                         +'        <img class="preview"/>'
                         +'     </div>'
                         +'     <div class="delete-wrap">'
                         +'        <span class="img-del-btn">삭제</span>'
                         +'     </div>'
                         +'  </div>';
                         +'</div>';
            $(".img-upload-wrap").append(fileadd);
        });
        // 이미지 추가 파일 삭제
        $('.img-upload-wrap').on('click', '.img-del-btn' ,function() {
            $(this).parents(".img-upload-item").remove();
        });
    });

    //Form Validation
    function checkForm(fileList) {

        var formJson = {};

        $.map($("form[name=event-form]").serializeArray(), function(n, i){
            formJson[n['name']] = n['value'];
        });
        formJson['files'] = fileList;
        console.log(formJson);
        $.ajax({
            type: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-HTTP-Method-Override": "POST"
            },
            url: ServerUrl+formChg,
            data: JSON.stringify(formJson),
            success: function(result) {
                if(result.BODY != null){
                    alert(msg);
                    if(cmd == 1){
                        window.location.replace('/admin/eventManage');
                    }
                }
            },
            error: function(result) {
                console.log(result);
            }
        });
    }

    function saveImage(){
        var data = new FormData(document.getElementById('event-form'));

        var file = document.getElementById('img1').value;

        if(file == ''){ // 내용만 수정
            checkForm([]);
        } else {
            $.ajax({
                url: ServerUrl+"/file/upload",
                processData: false,  // file전송시 필수
                contentType: false,  // file전송시 필수
                data: data,
                type: "POST",
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    checkForm(data.BODY);
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                    alert("메뉴정보를저장하지 못했습니다. 관리자에게 문의하십시오.")
                }
            });
        }
    };
</script>
</body>
</html>


