/* Common Css */
#container{
    padding:54px 20px 24px;
    box-sizing: border-box;
}
#wrap{
    padding-bottom: 0;
}
.font-big{
    font-size: 24px;
    line-height: 28px;
}
.font-nomal{
    font-size: 16px
}
.font-small{
    font-size: 14px;
}
.login-from-wrap{
    width: 100%;
}
.input-label{
    margin-bottom: 15px;
    margin-top:25px;
    font-weight:500;
}
input[type=text],input[type=password]{
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 1px solid #ADB5BD;
    padding: 5px 0;
    font-size: 16px;
}
input[type=text]::placeholder,input[type=password]::placeholder{
    color: #ADB5BD;
}
.register-submit{
    width: 100%;
    border: 1px solid #E94039;
    outline: none;
    border-radius: 5px !important;
    background-color: #fff;
    color: #E94039;
    font-weight: 600;
    padding: 14px 0;
    cursor: pointer;
}
.mt-long{
    margin-top:220px;
}
.mt-short{
    margin-top:65px;
}

/* Login */
.login-title{
    margin-bottom: 55px;
}
.pw-wrap{
    position: relative;

}
.pw-wrap .pw-view{
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
}
.login-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #DEE2E6;
    color:#fff;
    font-weight: 600;
    padding:14px 0;
    margin-top:15px;
    cursor: pointer;
}
.login-btn:hover{
    background-color: #343A40;
    transition: all 0.2s;
}
.login-menu-wrap{
    width: 100%;
    margin-top: 15px;
}
.login-menu-wrap ul{
    width: 100%;
    text-align: center;
}
.login-menu-wrap li{
    display: inline-block;
    width: 32%;
    text-align: center;
    height: 17px;
}
.login-menu-wrap li:nth-child(2){
    border-right:1px solid #E9ECEF;
    border-left:1px solid #E9ECEF;
}
.social-login-wrap{
    margin-top:55px;
}
.social-login-wrap .social-item{
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.social-login-wrap .social-item img{
    position: absolute;
    top: calc(50% - 12px);
    left: 21px;
}
.social-login-wrap .social-item a{
    width: 100%;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    padding:13px 0;
}
.social-login-wrap .google{
    border: 1px solid #DEE2E6;
}
.social-login-wrap .google a{
    color: #6C757D;
}
.social-login-wrap .facebook{
    background-color: #1877F2;
    margin:8px 0;
}
.social-login-wrap .facebook a{
    color:#fff;
    font-weight: 500;
}
.social-login-wrap .kakao{
    background-color: #FFEB3B;
}
.social-login-wrap .kakao a{
    color: #495057

}
/* Register type */
.nomal-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #F28181;
    color: #fff;
    font-weight: 600;
    padding: 14px 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 60px 0 30px;
}
.sowner-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    border:1px solid #F28181;
    color: #343A40;
    font-weight: 600;
    padding: 14px 0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}


/* Policy */
.policy-form-wrap{
    margin-top:75px;
}
.policy-form-wrap .check-wrap{
    width:100%;
    margin-bottom: 24px;
    position: relative;
}
.policy-form-wrap .check-wrap .agree-check{
    vertical-align: sub;
    margin-right: 18px;
    cursor: pointer;
}
.policy-form-wrap .check-wrap .checkbox-on{
    display: none;
}
.policy-form-wrap .check-wrap .agree-label{
    color: #ADB5BD;
    font-weight: 700;
    position: relative;
    bottom:2px;
}
.policy-form-wrap .check-wrap .check-on{
    color:#212529;
}
.policy-form-wrap .check-wrap .dropdown:after {
    display: inline-block;
    position: absolute;
    content: "";
    top: -2px;
    right: 10px;
    margin-left: 4px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: all 0.2s;
    cursor: pointer;
}
.policy-form-wrap .check-wrap .dropon:after{
    transition: all 0.2s;
    top: 5px;
    transform: rotate(-135deg);
}

.policy-form-wrap .check-wrap .content-wrap{
    font-weight: 700;
    padding: 0 46px;
    margin-top: 12px;
    margin-bottom: 40px;
    display: none;
    line-height: 18px;
}
.policy-form-wrap .check-wrap .content-wrap textarea{
    width: 100%;
    height: 300px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
/* Register */

.register-text{
    text-align: right;
    color: #1877F2;
}
.register-form-wrap .input-wrap{
    margin-bottom:35px;
}
.btn-input-container{
    display: flex;
}
.btn-input-container .btn-input-wrap{
    width: calc(100% - 100px);
}
.btn-input-container .inquiry-wrap{
    width: 100px;
    text-align: right;
}
.btn-input-container .inquiry-wrap .inquiry-btn{
    border: 1px solid #E94039;
    border-radius: 5px;
    padding: 3px 10px;
    box-sizing: border-box;
    background-color: #fff;
    color: #E94039;
    font-size: 14px;
    font-weight: 500;
    vertical-align: sub;
}
.register-form-wrap .input-wrap .sub-text{
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;
    display:none;
}
.register-form-wrap .input-wrap  .id-success{
    color:#78C151;
}
.register-form-wrap .input-wrap  .id-fail{
    color:#EA4335;
}
.register-form-wrap .input-wrap  .pw-success{
    color:#78C151;
}
.register-form-wrap .input-wrap  .pw-fail{
    color:#EA4335;
}

/* Register */
.inquiry-form-wrap{
    margin-top: 150px;
}
.inquiry-form-wrap .input-wrap{
    margin-bottom:35px;
}
.inquiry-form-wrap .input-wrap:nth-child(2){
    margin-bottom: 10px;
}
.phone-inquiry-container{
    display: flex;
}
.phone-inquiry-container .btn-input-wrap{
    width: calc(100% - 120px);
}
.phone-inquiry-container .inquiry-wrap{
    width: 120px;
    text-align: right;
}
.phone-inquiry-container .inquiry-wrap .inquiry-btn{
    border: 1px solid #343A40;
    border-radius: 5px;
    padding: 5px 0px;
    width: 103px;
    box-sizing: border-box;
    background-color: #343A40;
    color:#fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 500;
    vertical-align: sub;
    display: inline-block;
    text-align: center;
}
.phone-inquiry-container .inquiry-wrap .color-white{
    background-color: #fff !important;
    color: #212529 !important;

}
.inquiry-form-wrap .inquiry-success{
    color:#78C151;
    display: none;
    font-size: 14px;
}
.inquiry-form-wrap .inquiry-fail{
    color:#EA4335;
    display: none;
    font-size: 14px;

}
