<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.itso.market.mobile.dao.FileDao">
    <select id="getBannerList" resultType="com.itso.market.mobile.model.FILE">
        SELECT
            *
        FROM BANNER
        WHERE DELYN = 'N'
            AND TYPE = #{type}
    </select>

    <update id="deleteBanner">
        UPDATE BANNER SET
            DELYN = 'Y',
            CHNDATE = NOW(),
            CHNID = #{chnId}
        WHERE BANNER = #{banner}
    </update>

    <insert id="insertBanner" parameterType="java.util.List">
        INSERT INTO BANNER
        (
            NAME, UUID, PATH, TYPE, LINK, REGID, CHNID
        )
        VALUES
        <foreach collection="files" item="file" separator=",">
            (
                #{file.name},
                #{file.uuid},
                #{file.path},
                #{file.type},
                #{file.link},
                #{file.regId},
                #{file.chnId}
            )
        </foreach>
    </insert>
</mapper>